<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/reset.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/message.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
  <nav>
    <div class="navbar">
      <div class="navbuttonsdiv">
      <ul class="navlist">
        <li class="menubutton"><a href="#"></a></li>
        <li class="checkbutton"><a href="#"></a></li>
        <li class="composebutton"><a href="#"></a></li>
      </ul>
      </div>
      <div class="pagetitle">
        <p>Inbox</p>
      </div>
      <div class="searchboxdiv">
        <div class="searchbox">
          <a href="#"><img class="searchbutton" src="images/search_button.png"></a>
          <input id="search" />
        </div>
        <ul>
          <li class="username"><a href="#"></a></li>
        </ul>
      </div>
    </div>
    <div class="menusdiv">
      <div class="mainmenu">
        <ul class="mainmenulist">
          <li><a href="#">Inbox</a></li>
          <li><a href="#">Sent</a></li>
          <li><a href="#">Junk</a></li>
          <li><a href="#">Trash</a></li>
          <li><a href="#">Options</a></li>
        </ul>
      </div>
      <div class="checkmenu">
        <ul class="checkmenulist">
          <li><a href="#">All</a></li>
          <li><a href="#">None</a></li>
          <li><a href="#">Read</a></li>
          <li><a href="#">Unread</a></li>
          <li><a href="#">Starred</a></li>
        </ul>
      </div>
      <div class="usernamemenu">
        <ul class="usernamemenulist">
          <li><a href="#">Settings</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="spacer">
</div>
  <%= yield %>
</body>
</html>
